<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Machine Brand Guesser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <img class="logoImg" src="../public/machine-brand-guesser-logo/cover.png" alt="">
    <h1>Please upload an image below:</h1>
    <form action="/" enctype="multipart/form-data" method="post">
      <input class="fileToUpload" type="file" name="file-to-upload">
      <input class="submitBtn" type="submit" value="Upload">
    </form>  
    <span>Created By: <a href="https://github.com/LucasFaustman">Lucas Faustman</a></span>
  </body>
</html>